* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d7d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cards {
  width: 50%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  height: 100px;
}
#reset-btn {
  margin: 20px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #5a585b;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}
#reset-btn:hover {
  background-color: #71716f;
  color: black;
}
#timer {
  margin: 20px;
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  
}
