* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d7d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cards {
  width: 50%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  perspective: 1000px;
}
.card-img {
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  height: 100px;
}
#reset-btn {
  margin: 20px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #525053;
  /* text-decoration: none; */
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#reset-btn:hover {
  background-color: #a8a8a4;
  color: black;
}
#timer {
  margin: 20px;
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}
.card-img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.flip-card {
  animation: flipAnimation 0.6s forwards;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

/* Modal */
.modal {
  align-items: center;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: all 270ms ease-in;
}
.modal-open {
  opacity: 1;
  transform: translateY(0);
}
.modal-container {
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  max-width: 20rem;
  padding: 1rem;
  width: 100%;
}
.modal-title {
  color: rgb(254, 254, 254);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.button {
  background-color: rgb(199, 170, 27);
  border: 0.15rem solid rgb(21, 19, 8);
  border-radius: 20px;
  color: rgb(15, 14, 14);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 270ms ease-in;
}

@media only screen and (max-width: 1200px) {
  .cards {
    width: 90%;
    flex-wrap: wrap;
  }
  #reset-btn {
    font-size: 15px;
  }
  #modal-title {
    font-size: 2rem;
  }
  #play-again {
    font-weight: 200;
    font-size: 1.5rem;
  }
}
