* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: #6757d9;
  margin: 50px;
  font-size: 2.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
a {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px 40px;
  font-size: 1.5rem;
  color: #6757d9;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}
a:hover {
  background-color: #6757d9;
  color: #fff;
}
